
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#jumbotron {
  padding: 3em 0 3em;
  margin-bottom: 3em;
  background-image: url("/static/images/background.jpg");
  background-color: transparent;
  background-attachment: fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position: center center;
}

#logo {
  width: 160px;
  padding: 8px 4px;
}

#bigLogo {
  margin: 3em auto;
}

#footerImg {
  height: 25px;
}

.homeContent {
  padding-top: 5em;
  padding-bottom: 10em;
}

.image-gallery-slide img{
  width: auto;
}

.down {
  padding: 8.5px;
}

.ic {
  color: black;
}